html
    head
        meta(charset="UTF-8")
        title About - Classic Masonry
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        #header
            div
                #logo
                    a(href="/")
                        img(src="images/CMLogo2.gif" alt="LOGO" height= 180 width=330 style="background-color:transparent")
                ul#navigation
                    li(class="selected")
                        a(href="/") Home
                    li
                        a(href="/About") About
                    li
                        a(href="/Gallery") Gallery
                    //li
                    //    a(href="blog.html") Blog
                    li
                        a(href="/Contact") Contact
        #contents
            div(class='white')
                #about.body
                    #sidebar
                        .body
                            img(src="images/Masonry1.jpg" alt="Img" height= 250 width=350)
                            .contact
                                p
                                    | For Order and Inquiries Please Call:
                                    b (914) 238-8511
                                    |  Or you can contact us:
                                    b
                                    a(href="/Contact" style="font-size: 30px") Contact
                                    b

                    #main
                        h1 About
                        h4 Classic Masonry, Ltd has been family owned and operated for over a decade. We bring quality and experience to every job. From creating new designs to refurbishing exsisting ones, our skilled, reliable team will be sure to capture your vision.
                        //p
                        //    |
                        //    a(href="http://www.freewebsitetemplates.com/about/terms/") Terms of Use
                        //    | . You can even remove all our links if you want to.
                        //h4 We Have More Templates for You
                        //p
                        //    | Looking for more templates? Just browse through all our
                        //    a(href="http://www.freewebsitetemplates.com/") Free Website Templates
                        //    |  and find what you're looking for. But if you don't find any website template you can use, you can try our
                        //    a(href="http://www.freewebsitetemplates.com/freewebdesign/") Free Web Design
                        //    |  service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.
                        //h4 Be Part of Our Community
                        //p
                        //    | If you're experiencing issues and concerns about this website template, join the discussion
                        //    a(href="http://www.freewebsitetemplates.com/forums/") on our forum
                        //    |  and meet other people in the community who share the same interests with you.
                        //h4 Template details
                        //p
                        //    | Design version 7
                        //    br
                        //    |  Code version 2
                        //    br
                        //    br
                        //    |  Website Template details, discussion and updates for this
                        //    br
                        //    a(href="http://www.freewebsitetemplates.com/discuss/woodworkingwebsitetemplate/") Wood Working Website Template
                        //    | .
                        //    br
                        //    br
                        //    |  Website Template design by
                        //    a(href="http://www.freewebsitetemplates.com/") Free Website Templates
                        //    | .
                        //    br
                        //    br
                        //    span
                        //        | Please feel free to remove some or all the text and links of this page and replace it with your own About content.
        html
            body
                #footer
                    div
                        #links
                            .showroom
                                //h4 Visit our Gallery
                                //a(href='/Gallery')
                                //    img(src='images/CMLogo.gif', height='125px' width='150px' alt='Img')

                            div
                            //    h4 Recent Blog Posts
                            //    ul.posts
                            //        li
                            //            span.time Apr 16
                            //            p
                            //                a(href='blog.html') The Carving Master & Owner
                            //                |  Maybe you’re looking for something diferent, something special.
                            //        li
                            //            span.time Apr 15
                            //            p
                            //                a(href='blog.html') 5 Star Hotels We Supply
                            //                |  And we love the challenge of doing something diferent and something special.
                            //        li
                            //            span.time Apr 14
                            //            p
                            //                a(href='blog.html') How To Pick The Right Furniture For You
                            //                |  What’s more, they’re absolutely free! You can do a lot with them.
                            div
                                //form#newsletter(action='#', method='post')
                                //    h4 Join Our Newsletter
                                //    input(type='text', value='Enter Email Address Here For Updates', onblur="javascript:if(this.value==''){this.value=this.defaultValue;}", onfocus="javascript:if(this.value==this.defaultValue){this.value='';}")
                                //    input.btn2(type='submit', value='Sign up')
                                #connect
                                    h4 Social Media
                                    a.facebook(href='https://www.facebook.com/Classic-Masonry-105677656128248/', target='_blank')
                        ul.navigation
                            li
                                a(href='/') Home
                            li
                                a(href='/About') About
                            li
                                a(href='/Gallery') Gallery
                            li
                                a(href='/Contact') Contact
                        p#footnote
                            | (914) 238-8511
