doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        //link(rel="stylesheet" href="/stylesheets/bootstrap.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")


        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        title Classic Masonry
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id="header" style="width: 940px; margin: auto" )
            div(style="padding:0px")
                div(id="logo")
                    a(href="/")
                        img(src="images/CMLogo2.gif" alt="LOGO" height= 180 width=330 style="background-color:transparent" )
                ul(id="navigation")
                    li(class="selected")
                        a(href="/") Home
                    li
                        a(href="/About") About
                    li
                        a(href="/Gallery") Gallery
                    li
                        a(href="/Contact") Contact
        div(id="contents" )
            div(style="")
                div(class="body")
                    div(id="adbox")
                        <div class="container" style="width: 550px; height:365px; margin: 0">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>


                        <div class="carousel-inner">
                        <div class="item active">
                        <img src="/images/Masonry1.jpg" alt="Img" height=0px width=570px>
                        </div>

                        <div class="item">
                        <img src="/images/Masonry.jpg" alt="Img" height=0px width=570>
                        </div>

                        <div class="item">
                        <img src="/images/MasonryFire.jpg" alt="Img" height=0px width=570 >
                        </div>
                        </div>


                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                        </a>
                        </div>
                        </div>
                        //img(src="images/Masonry1.jpg" height= 500 width=475)
                        //span(class="info")
                        //    a(href="index.html" class="btn1") View Photos
                        div(class="details")
                            br
                            br
                            br
                            br
                            h1 High Quality
                            br
                            h1 Masonry Work
                            br
                            h1 Thats built to last
                    ul(id="featured1")
                        li
                            div
                                img(src="/images/Masonry1.jpg" alt="Img" height= 173 width=310)
                                a(href="/Gallery")
                            div(class="details1")

                        li(class="bedroom1")
                            div
                                img(src="images/Masonry.jpg" height= 173 width=310)
                                a(href="/Gallery")
                            div(class="details1")
                                a(href="/Gallery")
                                    button(type="button" id="ViewMore" name="ViewMore")
                                        span View More


                        li(class="kitchen1")
                            div
                                img(src="images/MasonryFire.jpg" alt="Img" height= 173 width=310)
                                a(href="/Gallery")
                            div(class="details1")


        html
            body
                #footer
                    div
                        #links
                            .showroom
                                //h4 Visit our Gallery
                                //a(href='/Gallery')
                                //    img(src='images/CMLogo.gif', height='125px' width='150px' alt='Img')

                            div
                            //    h4 Recent Blog Posts
                            //    ul.posts
                            //        li
                            //            span.time Apr 16
                            //            p
                            //                a(href='blog.html') The Carving Master & Owner
                            //                |  Maybe you’re looking for something diferent, something special.
                            //        li
                            //            span.time Apr 15
                            //            p
                            //                a(href='blog.html') 5 Star Hotels We Supply
                            //                |  And we love the challenge of doing something diferent and something special.
                            //        li
                            //            span.time Apr 14
                            //            p
                            //                a(href='blog.html') How To Pick The Right Furniture For You
                            //                |  What’s more, they’re absolutely free! You can do a lot with them.
                            div
                                //form#newsletter(action='#', method='post')
                                //    h4 Join Our Newsletter
                                //    input(type='text', value='Enter Email Address Here For Updates', onblur="javascript:if(this.value==''){this.value=this.defaultValue;}", onfocus="javascript:if(this.value==this.defaultValue){this.value='';}")
                                //    input.btn2(type='submit', value='Sign up')
                                #connect
                                    h4 Social Media
                                    a.facebook(href='https://www.facebook.com/Classic-Masonry-105677656128248/', target='_blank')
                        ul.navigation
                            li
                                a(href='/') Home
                            li
                                a(href='/About') About
                            li
                                a(href='/Gallery') Gallery
                            li
                                a(href='/Contact') Contact
                        p#footnote
                            | (914) 238-8511
