doctype html
html
    head
        title Classic Masonry
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id="header")
            div
                div(id="logo")
                    a(href="index.html")
                        img(src="images/logo.png" alt="LOGO")
                ul(id="navigation")
                    li(class="selected")
                        a(href="index.html") Home
                    li
                        a(href="about.html") About
                    li
                        a(href="/Gallery") Gallery
                    li
                        a(href="blog.html") Blog
                    li
                        a(href="contact.html") Contact
        div(id="contents" )
            div(style="")
                div(class="body")
                    div(id="adbox")
                        img(src="images/chair.jpg")
                        span(class="info") Whicker Chair <em>$250.00</em>
                            a(href="index.html" class="btn1") View Details
                        div(class="details")
                            h1 High Quality
                            br
                            h1 Wooden Furniture
                            br
                            h1 Thats built to last
                            p khgjhgjhfgmfhgfmhgkjh dbdfdgfdgdfgfdgd fdgdfgfdgdfgfdgdgf cdhghhgfhgfhgf hgfhgfhghgh dfhfdgdgdfgfd gfdgfdgfgfd ghghghgfgf hgfhgfhgh
                    ul(id="featured")
                        li
                            div
                                img(src="/images/living-room.jpg" alt="Img")
                                a(href="index.html")
                            div(class="details")
                                h4 Living Room
                                p jdsfjsdkjdfsjhdssjhdfsjhdfs jhfdshjdfshjds dfgffdg hjdfsjdfsjfshj dfsjfshjdfsjdfsjkdfsjj hkjhkjhkjhk jhkjhkjhkjhkjhkjhkhkjhkj kjhkhkhkj kjhkhjkjhkhkjhj jhkhkj
                        li(class="bedroom")
                            div
                                img(src="images/bedroom.jpg")
                                a(href="index.html")
                            div(class="details")
                                h4 Bedroom
                                p adfsdfsddsf sdfdsfdsfdfsf sdfdsfsdfds sdsdfds dfgfdgdfdfg dfgdfgdfgd dfgdfgdffdg cvbvcbcvbcvbcb cvbcvbvcbcvbcvb cvbvcbcvbcvbvcc
                        li(class="kitchen")
                            div
                                img(src="images/kitchen.jpg" alt="Img")
                                a(href="index.html")





