doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        //link(rel="stylesheet" href="/stylesheets/bootstrap.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")


        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        title Classic Masonry
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(id="header" style="width: 940px; margin: auto" )
            div(style="padding:0px")
                div(id="logo")
                    a(href="/")
                        img(src="/images/CMLogo2.gif" alt="LOGO" height= 180 width=330 style="background-color:transparent" )
                ul(id="navigation")
                    li(class="selected")
                        a(href="/") Home
                    li
                        a(href="/About") About
                    li
                        a(href="/Gallery") Gallery

                    li
                        a(href="/Contact") Contact

        div(id="ImgGallery")
            h1(class="Titles") Pools
            ul(id="Pics")
                li
                    a(href="/images/Masonry1.jpg")
                        img(src="/images/Masonry1.jpg" alt="Img" height= 200 width=350)
                br

                li
                    a(href="/images/Masonry1.jpg")
                        img(src="/images/Masonry1.jpg" alt="Img" height= 200 width=350)
            .container
                #slideshow
                    img#imgClickAndChange(alt='slideshow',  onclick='changeImage()')
            script.
                var imgs = ["/images/Masonry1.jpg", "/images/Masonry.jpg", "/images/MasonryFire.jpg", "/images/houses1.jpg", "/images/walkway1.jpg", "/images/misc1.jpg"];
                function changeImage(direction) {
                    var img = document.getElementById("imgClickAndChange");
                    img.src = imgs[imgs.indexOf(img.src) + (direction || 1)] || imgs[direction ? imgs.length - 1 : 0];
                }
                document.onkeydown = function (e) {
                    e = e || window.event;
                    if (e.keyCode == '37') {
                        changeImage(-1) //left arrow
                    } else if (e.keyCode == '39') {
                        // right arrow
                        changeImage()
                    }
                }

        html
            body
                #footer
                    div
                        #links
                            .showroom

                            div

                            div
                                #connect
                                    h4 Social Media
                                    a.facebook(href='https://www.facebook.com/Classic-Masonry-105677656128248/', target='_blank')
                        ul.navigation
                            li
                                a(href='/') Home
                            li
                                a(href='/About') About
                            li
                                a(href='/Gallery') Gallery
                            li
                                a(href='/Contact') Contact
                        p#footnote
                            | (914) 238-8511
